@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="width: 25rem;margin:100px 350px;">
  <img class="card-img-top" src="~/images/MicrosoftTeams-image.png" alt="Card image cap">
  <div class="card-body">
      <partial name="_LoginPartial" /> 
  </div>
</div>
