
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Bank Info</h1>

<br /><br />

<table class="table">
    <thead>
        <tr>
            <th scope="col"> Loans </th>
            <th scope="col"> Go To Site </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"> <a asp-action="Loans" class="btn btn-primary"> Finicial </a> </th>
            <th scope="row"> <a asp-action="GoToUrl" asp-controller="Ejadas" class="btn btn-primary"> External Site </a> </th>
        </tr>
    </tbody>
</table>
